<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <description>This project follows doctrine/coding-standard</description>

    <file>src</file>
    <file>tests</file>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="75"/>
    <arg value="np"/>

    <!-- Use doctrine/coding-standard -->
    <rule ref="Doctrine">
        <exclude name="SlevomatCodingStandard.Classes.UnusedPrivateElements"/>
    </rule>

</ruleset>
