<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         verbose="true"
        bootstrap="vendor/autoload.php">
    <testsuite name="LazyProperty tests">
        <directory>./tests/LazyPropertyTest</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
